body {
    color: #000;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    /* Apply nice font rendering globally */
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover,
a:focus,
a:active {
    color: #000;
}

a:hover,
a:active {
    outline: 0;
}


/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

p {
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------
## Top Menus
--------------------------------------------------------------*/

.menu-right-menu-container {
    float: right;
    padding-top: 25px;
    padding-right: 25px;
}

#social-links {
    padding-top: 25px;
    padding-left: 25px;
    float: left;
    clear: both;
}

#social-links > a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
}

#social-links > a:last-child {
    margin-right: 0;
}


/*--------------------------------------------------------------
## Email Address
--------------------------------------------------------------*/

#email-address {
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%;
}


/*--------------------------------------------------------------
## AHF Logo
--------------------------------------------------------------*/

.initial-logo {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.7px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

span#t-fix {
    padding-left: 3px;
}


/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/


@media handheld, only screen and (max-width: 500px) {

#social-links,
.menu-right-menu-container{
	float: left;
	clear: both;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}
.menu-right-menu-container{
    padding-top: 10px;
}

h1{
    font-size: 52px;
    line-height: 64px;
}

}